.idea

library/booking-domain/vendor/
library/booking-domain/.idea
library/booking-domain/.phpunit.cache


apps/laravel-app/node_modules
apps/laravel-app/public/hot
apps/laravel-app/public/storage
apps/laravel-app/storage/*.key
apps/laravel-app/vendor
apps/laravel-app/.env
apps/laravel-app/.env.backup
apps/laravel-app/.phpunit.result.cache
apps/laravel-app/docker-compose.override.yml
apps/laravel-app/Homestead.json
apps/laravel-app/Homestead.yaml
apps/laravel-app/npm-debug.log
apps/laravel-app/yarn-error.log
